.login-container {
    width: 40%;
    margin: 50px auto;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    text-align: left;
    margin-top: 2rem;
}

input {
    line-height: 2rem;
    border: 1px solid #000;
    border-radius: 3px;
}

.form__error {
    color: #ff0000;
    text-align: left;
}

.form-button {
    width: 100%;
    background-color: #000;
    border-radius: 3px;
    margin: 4rem auto 1rem;
}

.form-button__submit {
    display: inline-block;
    width: 100%;
    line-height: 2rem;
    appearance: none;
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.register-link {
    text-decoration: none;
    color: #0073cc;
}
