html,
body {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #000;
    padding: 1rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}
