body {
    background-color: #f0eff2;
}

.staff-list {
    width: 55%;
    margin: 50px auto;
}

.page-title {
    padding-left: 20px;
    border-left: 10px solid #000;
}

.staff-table {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    line-height: 1.5rem;
}

.staff-table th {
    border-bottom: 2px solid #e1e1e1;
    text-align: center;
    color: #737373;
}

.staff-table tr {
    border-bottom: 1px solid #e1e1e1;
}

.staff-table tr:last-child {
    border-bottom: none;
}

.staff-table th,
.staff-table td {
    vertical-align: middle;
    padding: 8px 30px;
}

.staff-table td {
    text-align: center;
    color: #737373;
    font-weight: bold;
}

.staff-table td a {
    text-decoration: none;
    color: #000;
}
