body {
    background-color: #f0eff2;
}

.list-container {
    width: 55%;
    margin: 50px auto;
}

.page-title {
    padding-left: 20px;
    border-left: 10px solid #000;
}

.date-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    padding: 20px;
}

.date-nav a {
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    letter-spacing: 2px;
}

.light-gray {
    color: #b3b3b3;
    font-weight: bold;
}

.date-nav__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-nav__center img {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.date-nav__center p {
    font-size: 1.5rem;
    font-weight: bold;
}

.attendees-table {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.attendees-table th {
    border-bottom: 2px solid #e1e1e1;
    text-align: center;
    color: #737373;
}

.attendees-table tr {
    border-bottom: 1px solid #e1e1e1;
}

.attendees-table tr:last-child {
    border-bottom: none;
}

.attendees-table th,
.attendees-table td {
    vertical-align: middle;
    padding: 8px 30px;
}

.attendees-table td {
    text-align: center;
    color: #737373;
    font-weight: bold;
}

.attendees-table td a {
    text-decoration: none;
    color: #000;
}
