.attendance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    text-align: center;
    background-color: #f0eff2;
}

.status {
    width: 7%;
    line-height: 0.5rem;
    border-radius: 30px;
    background-color: #c8c8c8;
    color: #696969;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.date {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.time {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    gap: 36px;
    justify-content: center;
}

.buttons form {
    width: 130px;
}

.button-submit {
    width: 100%;
    height: 44px;
    appearance: none;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.button-submit__primary {
    background-color: #000;
    color: #fff;
    border: none
}

.button-submit__secondary {
    background-color: #fff;
    color: #000;
}

.attendance-message__done {
    font-weight: bold;
    letter-spacing: 0.1rem;
}
